<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>

    <%= flash_messages %>

    <%= yield :hero if content_for?(:hero) %>

    <div class="fluid-container content-wrap">
      <%= yield :content_top if content_for?(:content_top) %>

      <div class="container">
        <div class="row" data-hook>
          <%= spree_breadcrumbs(@taxon) %>

          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

          <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
            <%= yield %>
          </div>

          <%= yield :templates %>
        </div>
      </div>
    </div>

    <%= yield :promos_footer if content_for? :promos_footer %>
    <%= render 'spree/shared/footer' %>

    <%= yield :bottom_scripts if content_for? :bottom_scripts %>
  </body>
</html>
