<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>
    <%= stylesheet_link_tag "foundation_emails" %>
	</head>
	<body>
    <div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
      <%= @preview %>
    </div>
	  <table class="container">
      <tr>
        <td>
          <table class="row">
            <tr>
              <th class="columns first last">
                <%= render 'mailer/spacer', size: 20 %>
                <%= image_tag 'logo/public_market_logo_email.png' %>
                <br/>
                <%= yield %>
                <hr/>
                <div class='footer'>
                  <%= render partial: 'mailer/base_mailer_footer' %>
                </div>
              </th>
            </tr>
          </table>
        <th class="expander"></th>
        </td>
      </tr>
    </table>
	</body>
</html>
