<% if spree_current_user %>
  <li class='dropdown link-to-account'>
    <a href='#' class='dropdown-toggle' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class='sign-in-as'>Signed in as </span>
      <strong><%= spree_current_user.username %></strong>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
      <% if spree_current_user.admin? || spree_current_user.vendors.any? %>
        <li><%= link_to Spree.t(:dashboard), spree.admin_path, target: '_blank' %></li>
      <% end %>

      <% if spree_current_user.admin? %>
        <li role="separator" class="divider"></li>

        <li><%= link_to 'Pghero', '/pghero', target: '_blank' %></li>
        <li><%= link_to 'Sidekiq', '/sidekiq', target: '_blank' %></li>
      <% end %>

      <li role="separator" class="divider"></li>
      <li><%= link_to Spree.t(:support), main_app.freshdesk_path, target: '_blank' %></li>
      <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
    </ul>
  </li>
<% else %>
  <li id='link-to-login' class='link-to-account'><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
