<% @body_id = 'home-page' %>

<% content_for :hero do %>
  <div class="jumbotron" data-hook="homepage_hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1>ZERO-FEE, REWARD-DRIVEN, DECENTRALIZED MARKETPLACE</h1>
          <h3>Let's Transform eCommerce</h3>
          <p class="signup">
            <%= link_to "CREATE ACCOUNT", signup_path, {class: "btn btn-primary"} %>
          </p>
          <p class="members">
            Already a member? <%= link_to "Sign in", login_path %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="how container">
    <row>
      <div class="col-md-12 col-xs-12">
        <h2>How Public Market Changes E-Commerce</h2>
      </div>
    </row>
    <row>
      <div class="col-md-4 col-xs-12">
        <div class="box col-md-12">
          <%= image_tag 'icon-zero-fees.png', class: 'icon' %>
          <h3>Zero Fees</h3>
          <p>
            Merchants can list and sell their products for fiat, with no mandatory seller fees (including listing and transaction fees).
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="box col-md-12">
          <%= image_tag 'icon-buyer-rewards.png', class: 'icon' %>
          <h3>Buyer Rewards</h3>
          <p>
            Merchants may use a portion of their savings fees to offer buyers “cashback” rewards in the form of blockchain-based incentives.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="box col-md-12">
          <%= image_tag 'icon-token-market.png', class: 'icon' %>
          <h3>Token Market</h3>
          <p>
            Merchants may buy tokens from the open market to fuel their rewards & consumer incentives.
          </p>
        </div>
      </div>
    </row>
  </section>

  <section class="top-categories container">
    <row>
      <div class="col-md-12 col-xs-12">
        <h2>Top Categories</h2>
        <span>View All</span>
      </div>
    </row>
    <row>
      <div class="col-md-6 col-xs-12">
        <div class="box col-xs-6">
          <h3>PS4 Games</h3>
          <p>Starting at $14.99</p>
          <%= link_to "SHOP NOW", products_path, {class: "btn btn-primary"} %>
        </div>
        <div class="box slant col-xs-6">
          <%= image_tag 'uncharted.png' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="box col-xs-6">
          <h3>Top Selling Books</h3>
          <p>Starting at $2.99</p>
          <%= link_to "SHOP NOW", products_path, {class: "btn btn-primary"} %>
        </div>
        <div class="box slant col-xs-6">
          <%= image_tag 'top-selling-books.png' %>
        </div>
      </div>
    </row>
  </section>

<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
