<% @body_id = 'home-page' %>

<% content_for :hero do %>
  <% unless spree_user_signed_in? %>
    <div class="jumbotron" data-hook="homepage_hero">
      <div class="container">
        <div class="content text-center">
          <h1><%= t('hero.header') %></h1>
          <h3><%= t('hero.subheader') %></h3>
          <p class="signup">
            <%= link_to t('hero.call_to_action'), signup_path, { class: "btn btn-primary" } %>
          </p>
          <p class="members">
            Already a member? <%= link_to "Log In", login_path %>
          </p>
        </div>
      </div>
    </div>

    <section class="how container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2><%= t('how_it_works.header') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/how-zero-fees.svg', class: 'icon' %>
            <h3><%= t('how_it_works.zero_fees') %></h3>
            <p>
              <%= t('how_it_works.zero_fees_text') %>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/how-buyer-rewards.svg', class: 'icon' %>
            <h3><%= t('how_it_works.buyer_rewards') %></h3>
            <p>
              <%= t('how_it_works.buyer_rewards_text') %>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/how-token-market.svg', class: 'icon' %>
            <h3><%= t('how_it_works.token_market') %></h3>
            <p>
              <%= t('how_it_works.token_market_text') %>
            </p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% top_categories = %w[Music Books] %>
  <% cache(home_top_categories_cache_key(top_categories)) do %>
    <section class="top-categories container">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t('home.top_categories_header') %></h2>
          <div class="divider"></div>
        </div>
      </div>

      <div class="row">
        <% top_categories.each do |category| %>
          <% next if (t = Spree::Taxon.visible.find_by(name: category)).blank? %>
          <% min_price = Spree::Inventory::Searchers::MinPrice.new(taxon_ids: [t.id]).call.aggs['minimum_price']['value'] %>

          <div class="col-md-6 col-sm-12">
            <div class="box col-md-12">
              <div class="content">
                <h3><%= t("home.top_categories.#{category.downcase}") %></h3>
                <p>Starting at $<%= min_price.to_f.round(2) %></p>
                <%= link_to 'SHOP NOW', nested_taxons_path(t.permalink), class: 'btn btn-primary' %>
              </div>

              <figure>
                <%= link_to nested_taxons_path(t.permalink) do %>
                  <%= image_tag "home/#{category.downcase}.png" %>
                <% end %>
              </figure>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>

<% unless @staff_picks.empty? %>
  <section class="staff-picks">
    <div data-hook="homepage_staff_picks">
      <%= render partial: 'spree/shared/staff_picks', locals: { staff_picks: @staff_picks } %>
    </div>
  </section>
<% end %>

<section class="top-products">
  <h2><%= t('home.top_products_header') %></h2>
  <%= link_to "View All", top_selling_path, {class: "view-all"} %>
  <div class="divider"></div>
  <div class='homepage-products' data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products } %>
    <% end %>
  </div>
</section>
