<% @body_id = 'home-page' %>

<% content_for :hero do %>
  <% unless spree_user_signed_in? %>
    <div class="jumbotron" data-hook="homepage_hero">
      <div class="container">
        <div class="content text-center">
          <h1><%= t('hero.header') %></h1>
          <h3><%= t('hero.subheader') %></h3>
          <p class="signup">
            <%= link_to t('hero.call_to_action'), signup_path, {class: "btn btn-primary"} %>
          </p>
        </div>
      </div>
    </div>

    <section class="how container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2><%= t('how_it_works.header') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/zero-fees.svg', class: 'icon' %>
            <h3><%= t('how_it_works.zero_fees') %></h3>
            <p>
              <%= t('how_it_works.zero_fees_text') %>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/buyer-rewards.svg', class: 'icon' %>
            <h3><%= t('how_it_works.buyer_rewards') %></h3>
            <p>
              <%= t('how_it_works.buyer_rewards_text') %>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="box col-md-12">
            <%= image_tag 'icons/token-market.svg', class: 'icon' %>
            <h3><%= t('how_it_works.token_market') %></h3>
            <p>
              <%= t('how_it_works.token_market_text') %>
            </p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <section class="top-categories container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h2><%= t('home.top_categories_header') %></h2>
        <%= link_to "View All", products_path, {class: "view-all"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="box col-xs-6">
          <h3>PS4 Games</h3>
          <p>Starting at $14.99</p>
          <%= link_to "SHOP NOW", products_path, {class: "btn btn-primary"} %>
        </div>
        <div class="box slant col-xs-6">
          <%= image_tag 'uncharted.png' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="box col-xs-6">
          <h3>Top Selling Books</h3>
          <p>Starting at $2.99</p>
          <%= link_to "SHOP NOW", products_path, {class: "btn btn-primary"} %>
        </div>
        <div class="box slant col-xs-6">
          <%= image_tag 'top-selling-books.png' %>
        </div>
      </div>
    </div>
  </section>

<% end %>

<section class="top-products container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2><%= t('home.top_products_header') %></h2>
      <%= link_to "View All", products_path, {class: "view-all"} %>
    </div>
  </div>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products } %>
    <% end %>
  </div>
</section>
